<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FlaUI.Core" version="4.0.0" targetFramework="net48" />
  <package id="FlaUI.UIA3" version="4.0.0" targetFramework="net48" />
  <package id="Interop.UIAutomationClient" version="10.19041.0" targetFramework="net48" />
  <package id="PowerArgs" version="3.6.0" targetFramework="net48" />
  <package id="System.Management" version="5.0.0" targetFramework="net48" />
</packages>