

body, :root, #root, html {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  width: 100vw;
  padding: 0px;
  margin:0px;
  --border-color: rgba(245, 245, 255, 0.055);
  color:rgb(148, 148, 153);
}

.page {
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  border-top: 1px solid var(--border-color);
  border-top-left-radius: 8px;
  /* padding, 10px horizontal, 5 vertical */
  padding: 12px 20px 12px 20px;
  border-left: 1px solid var(--border-color);
  /* gradient */
  background: linear-gradient(40deg, rgb(31, 31, 34) 0%, rgb(22, 23, 24) 50%, rgba(16, 16, 19, 0.5) 100%);
  /* inner shadow left top, dark */
  box-shadow: inset 2px 2px 18px 0px rgba(0, 0, 0, 0.24)
}

#appDrawer{
  min-width: 150px;
  width: 15%;
  max-width: 240px;
}

.listItemParent{
  border-radius: 8px;
}

.listItemChild {
  opacity: 0 !important;
}

.listItemParent:hover{
  background-color: rgba(195, 197, 202, 0.196);

  /* transition: 0.05s ease-out; */
}

.listItemParent:hover .listItemChild{
  opacity: 1 !important;
}

#titleBar{
  /* gradient left to right, transparent to dark */
  background: linear-gradient(30deg, rgba(0, 0, 0, 0) 0%, rgb(26, 26, 31) 100%);

}

#titleBarTitle {
  /* drag window */
  -webkit-app-region: drag;
}


/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c9c9c911;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #7f8084a7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #8b8a8a;
}
