

@font-face {
  font-family: "league-heading-regular";
  src: local("league-heading-regular"), url('../../assets/fonts/Fonts_Package/BeaufortForLoL-TTF/BeaufortforLOL-Regular.ttf');
}

@font-face {
  font-family: "league-heading-bold";
  src: local("league-heading-bold"), url('../../assets/fonts/Fonts_Package/BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf');
}

@font-face {
  font-family: "league-regular";
  src: local("league-regular"), url('../../assets/fonts/Fonts_Package/Spiegel-TTF/Spiegel_TT_Regular.ttf');
}

body, :root, #root, html {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  width: 100vw;
  padding: 0px;
  margin:0px;
  --border-color: rgba(245, 245, 255, 0.055);
  background: rgba(42, 41, 51, 0.788) url('../../assets/bg_kindred.jpg');
  font-family: league-heading;
  background-blend-mode: darken;
  font-family: league-regular;
  background-size: cover;
  background-position: center;
  color:rgba(239, 239, 248, 0.815);
  text-shadow: #252323a7 0px 0px 5px;
  user-select: none;
}

.addAccountModal {
  padding: 5px 20px 20px 20px;
  background:rgba(26, 26, 31, 0.733);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.page {
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  /* border-top: 1px solid var(--border-color); */
  /* border-top-left-radius: 8px; */
  /* padding, 10px horizontal, 5 vertical */
  /* padding: 0px 15px 0px 15px; */
  /* border-left: 1px solid var(--border-color); */
  /* gradient */

  /* inner shadow left top, dark */
  box-shadow: inset 2px 2px 18px 0px rgba(0, 0, 0, 0.24)
}

#appDrawer{
  background: linear-gradient(120deg, rgba(0, 0, 0, 0.267) 0%, rgba(26, 26, 31, 0.733) 100%);
}

.tierIcon{
  padding: 0px;

}

/* Account List - related styling */
.listItemChild {
  opacity: 0 !important;
}

table {
  padding-left: 50px !important;
}

table td {
  border:0 !important;
  color: rgba(248, 240, 255, 0.719) !important;
}

table th {
  border-bottom:none !important;
  background-color: transparent !important;
  color: rgba(248, 240, 255, 0.719) !important;
}

/* tr td:last-child::before {
  width: 1%;
  white-space: nowrap;
} */


table tr {
  border-radius: 20px;
}

table tr td {
  padding: 4px !important;
  text-align: center !important;
}

table tbody tr {
  overflow: visible;
  background-color: rgba(0, 0, 0, 0);

  transition: all .2s ease-out;
}

table tbody tr:hover {

  background-color: var(--mui-palette-primary);
}

td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
table tr.dropDownRow{
  background-color: unset !important;
  background: none !important;
}



.listItemParent:hover .listItemChild{
  opacity: 1 !important;
}

#titleBar{
  background: linear-gradient(30deg,  rgba(0, 0, 0, 0.267) 0%, rgba(26, 26, 31, 0.733) 100%);
  font-family: league-heading-bold;

  text-transform:uppercase;
}


/* Drag Window */
#titleBarTitle {
  -webkit-app-region: drag;
}


/* ScrollBar CSS */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #7f8084a7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8b8a8a;
}
