

body, :root, #root, html {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  width: 100vw;
  padding: 0px;
  margin:0px;
  --border-color: rgba(245, 245, 255, 0.055);
  background: rgba(0, 0, 0, .80) url('../../assets/bg_kindred.jpg');
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  color:rgb(148, 148, 153);
  user-select: none;
}

.page {
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  /* border-top: 1px solid var(--border-color); */
  /* border-top-left-radius: 8px; */
  /* padding, 10px horizontal, 5 vertical */
  padding: 0px 15px 0px 15px;
  /* border-left: 1px solid var(--border-color); */
  /* gradient */

  /* inner shadow left top, dark */
  box-shadow: inset 2px 2px 18px 0px rgba(0, 0, 0, 0.24)
}

#appDrawer{


  background: linear-gradient(120deg, rgba(0, 0, 0, 0.267) 0%, rgba(26, 26, 31, 0.733) 100%);

}

.listItemParent{
  /* border-radius: 8px; */
}

.listItemChild {
  opacity: 0 !important;
}

.listItemParent:hover{


  /* transition: 0.05s ease-out; */
}



table td {
  border:0 !important;
  color: rgba(248, 240, 255, 0.719) !important;
}

table th {
  border-bottom:none !important;
  color: rgba(248, 240, 255, 0.719) !important;
}

tr td:last-child {
  width: 1%;
  white-space: nowrap;
}

table tr {
  border-radius: 20px;
}

table tr td {
  padding: 4px !important;
}

table tbody tr {
  overflow: visible;
  background-color: rgba(0, 0, 0, 0);

  transition: all .2s ease-out;
}

table tbody tr:hover {

  background-color: rgba(134, 57, 122, 0.719);
}


td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
table tr.dropDownRow{
  background-color: unset !important;
  background: none !important;
}




.listItemParent:hover .listItemChild{
  opacity: 1 !important;
}

#titleBar{
  /* gradient left to right, transparent to dark */
  background: linear-gradient(30deg,  rgba(0, 0, 0, 0.267) 0%, rgba(26, 26, 31, 0.733) 100%);

}

#titleBarTitle {
  /* drag window */
  -webkit-app-region: drag;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #7f8084a7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #8b8a8a;
}
