/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to top, #00060e 0%, #0c0918 100%),;
  font-family: sans-serif;
  display: flex;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#sideBar{
  display: inline-block;
  background-color: #1a1a1a3a;
  border-right: 1px solid rgba(196, 194, 194, 0.075);
  height:100vh;
  width:14rem;
  padding: 14px;
}

#content{
  display: inline-block;
  padding: 1rem;
  width: 100%;
}

.sideBarItem{
  margin-top:8px;
  font-weight: 600;
  width: 100%;
  display:inline-flex;
  border-radius: 6px;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left:6px;
  padding-right: 6px;
}

.sideBarItem:hover{
  background-color: rgba(128, 128, 128, 0.158);
}